.lang
 width: 96px;
 &__select
  width: 96px;
  border: none;
  -webkit-appearance: none; 
  background: url('../img/header/icon-arrow.png') no-repeat right;
  &:focus-visible
   outline: none;
  &__option
   position: relative;
   &::before
    position: absolute;
    content: 'RR';
    display: block;
    width: 28px;
    background: url('../img/header/flagru.png');